/*
 * ----------------------------------
 * batch_somatic Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {
  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  refDir = null
  incOrder = null
  germline = true
  seqLevel = "WGS"
  exometag = null
  scatGath = null

  multiqcConfig = "$baseDir/bin/batch_somatic.multiQC_config.yaml"
}

profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = 'pipeline_info/batch_somatic.timeline.html'
}

report {
  enabled = true
  file = 'pipeline_info/batch_somatic.report.html'
}

trace {
  enabled = true
  file = 'pipeline_info/batch_somatic.trace.txt'
}

dag {
  enabled = true
  file = 'pipeline_info/batch_somatic.dag.svg'
}
