/*
 * ----------------------------------
 * batch_somatic Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {
  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'
  help = false
  sampleCsv = null
  runID = null
  assembly = "GRCh38"
  email = null
  cosmic = false
  refDir = null
  incOrder = null
  germline = true
  facets = true
  pcgr = true
  seqLevel = "WGS"
  exometag = null
  scatGath = null
  impacts = "HIGH,MODERATE,MODIFIER,LOW"
  agilentUMI = null
  agilentLib = 'xt'
  multiqcConfig = "$baseDir/assets/batch_somatic.multiQC_config.yaml"
  //what to split caseID from sampleID (somatic) by (i.e. case1, case1_T -> '_T')
  tumourIDsplit = 'T'
  nocram = false
  nometrics = false

}

profiles {

  genome {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
  }

  sonic {
    includeConfig 'conf/base.config'
    includeConfig 'conf/sonic.config'
    includeConfig 'conf/genomes.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/batch_somatic.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/batch_somatic.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/batch_somatic.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/batch_somatic.dag.svg"
}
