/*
 * ---------------------------------------------
 *  Nextflow base config file for batch_somatic
 * ---------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

process {

  container = params.container

  withName:'trimmer|locatit' {
    container = 'shub://brucemoran/Singularity:agent_umi.centos7'
  }

}
