/*
 * ----------------------------------------------------------
 *  Nextflow config file for Genome HPC cluster (PBS/Torque)
 * ----------------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

process {

  time = '36.h'

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
    executor = 'pbs'
    cache = 'lenient'
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
    executor = 'pbs'
    cache = 'lenient'
  }

  withLabel:high_mem {
    cpus = 10
    memory = 32.GB
    executor = 'pbs'
    cache = 'lenient'
  }

}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
