/*
 * -------------------------------------------------
 *  Nextflow config file for reference genomes
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customizes the base
 * path using $params.refDir / --refDir
 * stolen from nf-core-rnafusion, thanks guys!
 */

params {
    genomes {
        'GRCh37' {
            fa     = "${params.refDir}/${params.assembly}/bwa/human_g1k_v37.noChr.fasta"
            fai     = "${params.refDir}/${params.assembly}/bwa/human_g1k_v37.noChr.fasta.fai"
            dict   = "${params.refDir}/${params.assembly}/bwa/human_g1k_v37.noChr.dict"
            bwa    = "${params.refDir}/${params.assembly}/bwa"
            hc_dbs = "${params.refDir}/${params.assembly}/hc_dbs"
            dbsnp  = "${params.refDir}/${params.assembly}/dbsnp"
            gridss = "${params.refDir}/${params.assembly}/gridss"
            pcgr   = "${params.refDir}/${params.assembly}/pcgr"
            exome  = "${params.refDir}/${params.assembly}/exome"
            wgs    = "${params.refDir}/${params.assembly}/wgs"
            cosmic = "${params.refDir}/${params.assembly}/cosmic/cancer_gene_census.bed"
        }
        'GRCh38' {
            fa     = "${params.refDir}/${params.assembly}/bwa/GRCh38_Verily_v1.genome.noChr.fasta"
            fai    = "${params.refDir}/${params.assembly}/bwa/GRCh38_Verily_v1.genome.noChr.fasta.fai"
            dict   = "${params.refDir}/${params.assembly}/bwa/GRCh38_Verily_v1.genome.noChr.dict"
            bwa    = "${params.refDir}/${params.assembly}/bwa"
            hc_dbs = "${params.refDir}/${params.assembly}/hc_dbs"
            dbsnp  = "${params.refDir}/${params.assembly}/dbsnp"
            gridss = "${params.refDir}/${params.assembly}/gridss"
            pcgr   = "${params.refDir}/${params.assembly}/pcgr"
            exome  = "${params.refDir}/${params.assembly}/exome"
            wgs    = "${params.refDir}/${params.assembly}/wgs"
            cosmic = "${params.refDir}/${params.assembly}/cosmic/cancer_gene_census.bed"
        }
    }
}
