/*
 * --------------------------------------------------------
 *  Nextflow config file for UCD Sonic HPC cluster (SLURM)
 * --------------------------------------------------------
 * Imported under 'sonic' Nextflow profile in:
 * nextflow.config
 *
 * NB that each node (67 standard) have 20 - 48 cores
 * so variabvle amounts of RAM
 */

process {

  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'

  executor = 'slurm'
  cache = 'lenient'
  time = '48.h'

  withLabel:low_mem {
    cpus = 2
  }

  withLabel:med_mem {
    cpus = 4
  }

  withLabel:high_mem {
    cpus = 12
  }

  withLabel:max_mem {
    cpus = 20
  }
}

conda.cacheDir = '/home/people/moranb/conda'

singularity {

  cacheDir = '/home/people/moranb/singularity/nextflow'
  autoMounts = 'true'

}
