/*
 * --------------------------------------------------------
 *  Nextflow config file for UCD Sonic HPC cluster (SLURM)
 * --------------------------------------------------------
 * Imported under 'sonic' Nextflow profile in:
 * nextflow.config
 *
 * NB that each node (67 standard) have 20 - 48 cores
 * so variabvle amounts of RAM
 */

process {

  withName:'gridss|gridss_software_vers' {
    container = 'shub://brucemoran/Singularity:gridss.2.9.4.docker'
  }

  executor = 'slurm'
  cache = 'lenient'
  time = '48.h'

  withLabel:low_mem {
    cpus = 2
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:med_mem {
    cpus = 4
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:high_mem {
    cpus = 12
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:max_mem {
    cpus = 20
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }
}

conda.cacheDir = '/home/people/moranb/conda'

singularity {

  cacheDir = '/home/people/moranb/singularity/nextflow'
//  autoMounts = 'true'
  runOptions = '--bind /home/people/moranb:/home/people/moranb,/opt:/scratch/moranb'

}
